# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
vendor/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE and editor settings
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.bak
